# Keep LF everywhere so PHPCS passes on Windows checkouts too.
* text=auto eol=lf
*.epub binary
*.zip binary
*.jpg binary

.github/                export-ignore
tests/                  export-ignore
site/                   export-ignore
codecov.yml             export-ignore
